/* 
#5BC8AC  -   turqoise
#98DBC6  -  aquamarine
##f1e98d  -  canary yellow
#F18D9E  -  pink tulip
*/
* {
    font-family: 'Quattrocento Sans', sans-serif;
}

#mainNavBar {
    background-color: #5BC8AC;
}

#navbarBtn {
    background-color: #F18D9E;
}

#navbarBtn:hover {
    box-shadow: 2px 5px 20px #f1e98d;
}

.logo {
    font-family: 'Courgette', cursive;
    font-size: 21px;
    word-spacing: 10px;
}

.logo:hover {
    text-shadow: 2px 5px 20px #f1e98d;
}

.navbarLink {
    transition: all .4s;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbarLink:hover {
    background-color: #F18D9E;
    border-radius: 5px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.pinkTulip {
    color: #F18D9E;
}

.btnModal {
    background-color: #F18D9E;
    width: 45%;
}

.btnModal:hover {
    background-color: #98DBC6;
}

.canaryYellow {
    color: #f1e98d;
}

.turqoise {
    background-color: #5BC8AC;
}

.aquamarine {
    background-color: #98DBC6;
}

#carousel {
    margin-top:58px;
}

.laBelle {
    font-family: 'Courgette', cursive;
}

.textShadow {
    text-shadow: 5px 2px 15px black;
}

.borderBottom {
    border-bottom: 1px solid #f1e98d;
}

.hide {
    display: none;
}

.red {
    color: red;
}

.modal {
    height: 100vh;
}

#tblPrice {
    width: 60%;
    margin: 120px auto 50px auto;
    opacity: 0.9;
}

#backgroundTable {
    background: url(../images/salon.jpg) no-repeat center center fixed;
    background-size: cover;
    border-bottom: 1px solid #f1e98d;
}

#thMain {
    background-color: #F18D9E;
    border-bottom: 3px #f1e98d solid;
}

th {
    background-color: #98DBC6;
    border-bottom: 1px #f1e98d solid;
}

.book {
    text-decoration: none;
    background-color: #F18D9E;
    padding: 6px;
    border-radius: 5px;
}

tr {
    background-color: white;
}

tr:hover {
    background-color: #f1e98d;
}

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

#availabilityTable tbody tr :hover {
    cursor: pointer;
}

i.fa.fa-trash {
    cursor: pointer;
}

@-webkit-keyframes custom-shake{3%{-webkit-transform:translate(-3px) rotate(-3deg)}6%{-webkit-transform:translate(3px) rotate(3deg)}9%{-webkit-transform:translate(-3px) rotate(-3deg)}12%{-webkit-transform:translate(3px) rotate(3deg)}15%{-webkit-transform:translate(-3px) rotate(-3deg)}18%{-webkit-transform:translate(3px) rotate(3deg)}0%,21%,to{-webkit-transform:translate(0) rotate(0deg)}}@keyframes custom-shake{3%{-webkit-transform:translate(-3px) rotate(-3deg);transform:translate(-3px) rotate(-3deg)}6%{-webkit-transform:translate(3px) rotate(3deg);transform:translate(3px) rotate(3deg)}9%{-webkit-transform:translate(-3px) rotate(-3deg);transform:translate(-3px) rotate(-3deg)}12%{-webkit-transform:translate(3px) rotate(3deg);transform:translate(3px) rotate(3deg)}15%{-webkit-transform:translate(-3px) rotate(-3deg);transform:translate(-3px) rotate(-3deg)}18%{-webkit-transform:translate(3px) rotate(3deg);transform:translate(3px) rotate(3deg)}0%,21%,to{-webkit-transform:translate(0) rotate(0deg);transform:translate(0) rotate(0deg)}}.animation-shake{animation:custom-shake 6s ease-in-out 3s infinite;}.animation-shake:hover{-webkit-animation:none;animation:none}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  




